<%
#comments
%>
<div class="row">
  <div class="col-12">
    <div class="table-responsive" style="height:300px; overflow-y:auto;">
      <table id="participants-table" class="table table-hover table-outline table-vcenter text-nowrap card-table">
        <thead>
          <tr>
            <th>
              <%= t("participant.identification") %>
            </th>
            <th>
              <%= t("participant.name") %>
            </th>
            <th>
              <%= t("participant.email") %>
            </th>
            <th class="text-center">
              <% if ParticipantsRoom.count_by_room(@room.id) > 0 %>

                <div class="item-action dropdown" title="<%= t("delete_all") %>" >
                  <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
                    <i class="fas fa-ellipsis-v px-4"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button id="delete-participant" data-toggle="modal" data-target="#deleteAllParticipantModal" class= "dropdown-item">
                      <i class="dropdown-icon far fa-trash-alt"></i> <%= t("delete_all") %>
                    </button>
                  </div>
                </div>

              <% end %>
            </th>
          </tr>
        </thead>
        <tbody id="participant-table">
          <% participants.each do |participant| %>
            <%= render "participants/components/participant_row", participant: participant %>
          <% end %>
        </tbody>
      </table>      
    </div>
  </div>
</div>