<%
#comments
%>
<div class="modal fade" id="manageParticipantModal" tabindex="-1" role="dialog" style="z-index: 1045;">
  <div class="modal-dialog modal-dialog-centered modal-manage-participants" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <% setting_id = "participants"%>

          <%= content_tag(:div, id: "participants", class: "setting-view card") do %>
          <div id="show_message"></div>
          <div class="card-body p-6">
            <div class="card-title text-primary">
              <div class="form-group">
                <%= render "participants/components/participant_subtitle" %>
              </div>
            </div>
            <%= render "participants/components/manage_participants", participants: participants %>
          </div>
          <% end %>

        </div>
        <div class="download-template">
          <div class="form-group">
            <div class="row mt-2">
              <div class="col-7"></div>
              <div class="col-4" style="padding: 7px;">
                <span><%= t("modal.create_participant.download_template") %></span>
              </div>
              <div class="col-1">
                <span class="input-group-append">
                  <button id="download-template" class="btn btn-primary">
                    <i class="fas fa-file-download"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <p><%= t("modal.share_access.footer") %></p>
        </div>
      </div>
    </div>
  </div>
</div>